In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df=pd.read_csv('./personality_datasert.csv')
df

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
...,...,...,...,...,...,...,...,...
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,3.0,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   object
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   object
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [5]:
df.isnull().sum()

Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [6]:
df.loc[df['Drained_after_socializing']=="Yes",'Drained_after_socializing']=1
df.loc[df['Drained_after_socializing']=="No",'Drained_after_socializing']=0

In [7]:
df.loc[df['Stage_fear']=="Yes",'Stage_fear']=1
df.loc[df['Stage_fear']=="No",'Stage_fear']=0

In [8]:
df.loc[df['Personality']=="Extrovert",'Personality']=0
df.loc[df['Personality']=="Introvert",'Personality']=1

In [9]:
df

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,0,4.0,6.0,0,13.0,5.0,0
1,9.0,1,0.0,0.0,1,0.0,3.0,1
2,9.0,1,1.0,2.0,1,5.0,2.0,1
3,0.0,0,6.0,7.0,0,14.0,8.0,0
4,3.0,0,9.0,4.0,0,8.0,5.0,0
...,...,...,...,...,...,...,...,...
2895,3.0,0,7.0,6.0,0,6.0,6.0,0
2896,3.0,0,8.0,3.0,0,14.0,9.0,0
2897,4.0,1,1.0,1.0,1,4.0,0.0,1
2898,11.0,1,1.0,3.0,1,2.0,0.0,1
2899,3.0,0,6.0,6.0,0,6.0,9.0,0

In [10]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=45)

In [12]:
X_train

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
939,9.000000,1,2.0,1.0,1,3.0,1.000000
393,0.000000,0,4.0,5.0,0,6.0,5.000000
1672,4.505816,0,8.0,6.0,0,5.0,7.000000
2152,4.505816,0,7.0,5.0,0,6.0,7.000000
717,2.000000,0,7.0,6.0,0,6.0,8.000000
...,...,...,...,...,...,...,...
163,6.000000,1,3.0,3.0,1,1.0,0.000000
607,10.000000,1,1.0,1.0,1,5.0,0.000000
1916,2.000000,0,7.0,5.0,0,14.0,7.000000
1667,0.000000,0,4.0,3.0,0,12.0,7.000000
2462,0.000000,0,8.0,3.0,0,8.0,3.564727

In [13]:
y_train

939     1
393     0
1672    0
2152    0
717     0
       ..
163     1
607     1
1916    1
1667    0
2462    0
Name: Personality, Length: 2320, dtype: object

In [14]:
merged_train = pd.concat([X_train, y_train], axis=1)
merged_train

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
939,9.000000,1,2.0,1.0,1,3.0,1.000000,1
393,0.000000,0,4.0,5.0,0,6.0,5.000000,0
1672,4.505816,0,8.0,6.0,0,5.0,7.000000,0
2152,4.505816,0,7.0,5.0,0,6.0,7.000000,0
717,2.000000,0,7.0,6.0,0,6.0,8.000000,0
...,...,...,...,...,...,...,...,...
163,6.000000,1,3.0,3.0,1,1.0,0.000000,1
607,10.000000,1,1.0,1.0,1,5.0,0.000000,1
1916,2.000000,0,7.0,5.0,0,14.0,7.000000,1
1667,0.000000,0,4.0,3.0,0,12.0,7.000000,0
2462,0.000000,0,8.0,3.0,0,8.0,3.564727,0

In [15]:
merged_test = pd.concat([X_test, y_test], axis=1)
merged_test

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
1811,3.0,0,7.000000,4.0,0,13.0,3.0,0
234,7.0,1,0.000000,2.0,1,2.0,0.0,1
1405,6.0,1,2.000000,2.0,1,5.0,2.0,1
2749,7.0,1,3.963354,2.0,1,3.0,1.0,1
1890,11.0,1,1.000000,1.0,1,1.0,1.0,1
...,...,...,...,...,...,...,...,...
2833,11.0,1,0.000000,0.0,1,3.0,2.0,0
421,0.0,0,4.000000,7.0,0,13.0,9.0,0
1245,1.0,0,4.000000,6.0,0,13.0,4.0,0
16,9.0,1,0.000000,0.0,1,0.0,0.0,1
818,3.0,0,5.000000,3.0,0,12.0,4.0,0

In [16]:
merged_train.to_csv('./train.csv')
merged_test.to_csv('./test.csv')